# local rpc endpoints
ethereumRpcEndPoint=http://localhost:8500/0
avalanceRpcEndPoint=http://localhost:8500/1
polygonRpcEndPoint=http://localhost:8500/2
moonbeamRpcEndPoint=http://localhost:8500/3

# local funded account private key
privateKey=0x6db76b64b8019ea6d646ee8b70a9e4f7c3aa0f943b42eb700d4a798b3544a094

# squid API baseUrl
baseUrl=http://localhost:3000
